.navbar {
  background-color: #065A82;
  box-shadow: 0 1px 8px rgba(0,0,0,.15);

  .navbar-brand {
    .menu-logo {
      height: 50px;
      width: auto;
    }
  }

  .navbar-nav {
    .nav-link {
      padding: .1em .6em;
      margin: 0.2em .1em;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 300;
      color: #fff;
      border: 1px solid rgba(0, 0, 0, 0);
      border-bottom-width: 2px;
      border-radius: 3px;
      transition: background-color .2s ease-in,
                  border .1s ease-in-out,
                  color .2s linear;
      font-family: "Source Sans Pro", sans-serif;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: #1C7293;
        border-color: rgba(0, 0, 0, 0.3);
      }

      &.active {
          color: #065A82;
          background-color: #fff;
          border-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &.navbar-dark {
    background-color: #385163;

    .navbar-nav {
      .nav-link {
        &:hover {
          color: #22333d;
          background-color: #f6cf52;
          border-color: rgba(0, 0, 0, 0.3);
        }
  
        &.active {
            color: #065A82;
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.nav-item.change-theme {
  position: absolute;
  left: 0.5em;
  top: 0;
  height: 1.5em;
  width: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: .2em;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 300;
  color: #ffffff;
  background-color: #1C7293;
  border-radius: 50%;
  transition: background-color .2s ease-in,
  border .1s ease-in-out,
  color .2s linear;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;

  @media (max-width: 768px) {
    left: 3em;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    & + .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;

      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      overflow: hidden;

      &::after {
        content: "";
        display: block;        
      }

      &::before {
        content: "";
        font-family: "Font Awesome 6 Free", sans-serif;
        font-size: .9em;
        display: block;

        animation-name: pullFromTop;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      &.light::before {
        content: "\f185";
        background: #fffe15;
        background: radial-gradient(#fffe15 0%, #ffa500 40%, #ff6e00 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation-name: pullFromBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      &.dark::before {
        content: "\f186";
        color: white;
      }

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:checked + .checkmark {
      background-color: #14123a;
    }
  }
}

@keyframes pullFromBottom {
  0% {
    transform: translateY(50px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes pullFromTop {
  0% {
    transform: translateY(-50px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.nav-link.download-resume {
  position: absolute;
  right: 0.5em;
  top: 0;

  padding: .1em .6em;
  margin: 0.2em .1em;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 300;
  color: #ffffff;
  background-color: #e04f3f;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom-width: 3px;
  border-radius: 3px;
  transition: background-color .2s ease-in,
  border .1s ease-in-out,
  color .2s linear;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}