.skills-section {
  position: relative;
  padding: 4em 0;

  .skills-container {
    position: relative;
    z-index: 99;

    .skill-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid rgba(0,0,0,0.1);
      border-bottom-width: 4px;
      border-right-width: 2px;
      border-radius: 4px;
      padding: .5em;
      margin-bottom: .2em;
      cursor: pointer;
      transition: 0.18s linear all;

      &:hover {
        background-color: #fff8e0;
        border-color: #434c4c;
      }

      .skill-tech-icon {
        img.skill-tech-image {
          height: auto;
          width: 50px;
        }
      }

      .skill-detail {
        width: 100%;
        margin-left: 1em;

        .skill-title {
          margin: 0 0 .1em;
          font-weight: 400;
        }

        .skill-progress {
          height: 16px;
          position: relative;
          overflow: visible;
          background-color: #94a3af33;

          .skill-progress-filled {
            background-color: #7295b3;
          }

          .skill-progress-stop {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: inherit;
          }
        }
      }
    }
  }
}
