@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@font-face {
  font-family: 'Vanilla Twilight Script';
  font-style: normal;
  font-weight: normal;
  src: local('Vanilla Twilight Script'), url('./fonts/Vanilla Twilight Script.woff') format('woff');
}

@font-face {
  font-family: 'Euphorigenic';
  font-style: normal;
  font-weight: normal;
  src: local('Euphorigenic'), url('./fonts/euphorigenic.woff') format('woff');
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fdf9f2;
}

// Custom Selection Color
::-moz-selection {
  color: #000;
  background-color: #f6cf53;
}

::selection {
  color: #000;
  background-color: #f6cf53;
}

// Custom Scrollbar
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6ed;
  box-shadow: inset 0 0 3px #467499;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #669ecb;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #467499;
}
